<div class="container">

	<h3>New Post</h3>

	<form method="post" enctype="multipart/form-data" action="add_post">
	  <input type="text" placeholder="Title" name="title"></input>
	  <br>
	  <textarea placeholder="Write your new blog post here" cols="60" rows="20" id="new-post" name="body"></textarea>
	  <br>
	  <input type="file" name="image"><br>
	  <br>
	  <input type="submit" value="Submit">
	</form>
</div>